.encabezado{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger ;
}
* {
    margin: 0px;
    padding: 0px; 
    outline: 0;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    clear: both;
}
#menu {
    position: relative;
    margin: 0 auto;
    padding: 50px 0;
    clear: both;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    width: 162px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: rgba(59,93,148,1);
    border: solid 1px #fff;
    padding: 8px;
    position: relative;
}

#menu ul li ul li a {
    width: 160px;
    padding: 8px 0px;
    border-top-color: transparent;
}

#menu ul li ul {
    display: none;
}

/* PROPIEDADES ESPECÍFICAS */

#menu ul li ul li ul li a.primera {
    border-top-color: #fff;
}

#menu ul li.nivel1 { 
    float: left;
    margin-right: 1px;
}

#menu ul li a.nivel2 {
    color: #000;
}

#menu ul li a.nivel1, #menu ul li a.nivel2 {
    display: block;
    position: relative;
}

/* PROPIEDAD HOVER */

#menu ul li:hover {
    position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
    background-color: #6CC;
    color: #000;
    position: relative;
}

#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
    display: block;
    position: absolute;left: 0px;
}

#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
    display: block;
}